header {
  background: #fff;
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

header .navbar .container .fa_fa-shopping-cart {
  display: none;
}

header .navbar .container .collapse .selectt {
  border-radius: 10px;
}

header .navbar .container .collapse .selectt .modal .modal-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .container .collapse .selectt .modal .modal-flex .mx-2 {
  width: 160px;
  height: 100px;
  margin: 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ccc;
  -webkit-box-shadow: 3px 3px 10px #c0c0c0;
          box-shadow: 3px 3px 10px #c0c0c0;
}

header .navbar .container .collapse .selectt .modal .modal-flex .mx-2 img {
  cursor: pointer;
  width: 150px;
  height: 90px;
}

header .navbar .container .collapse .navbar-nav .modal .modal-content {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.7))) url(../img/modalfon.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)) url(../img/modalfon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header .h-footer {
  margin: 0;
  padding: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

header .h-footer .container .row .col-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

header .h-footer .container .row .col-6 .btn {
  border: 1px solid #c0c0c0cc;
  border-radius: 8px;
  color: #07c320;
  height: 50px;
  width: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .h-footer .container .row .col-6 .text p {
  color: #ccc;
}

header .h-footer .container .row .col-6 .text i {
  padding-left: 8px;
  font-size: 12px;
}

section .section1 .container {
  border: 1px solid #eeeeee;
  padding: 0;
  margin: 15px auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section .section1 .container .section1-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #dfdfdf;
}

section .section1 .container .section1-top button {
  border: none;
  background: #acf6c7d7;
  color: #00a13c;
  border-radius: 10px;
}

section .section1 .container .section1-top button:hover {
  border: 1px solid #00a13c;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

section .section1 .container .row .col-12 {
  display: none;
}

section .section1 .container .row .col-3 {
  padding-right: 0 !important;
}

section .section1 .container .row .col-3 .categories {
  padding: 0 5px;
}

section .section1 .container .row .col-3 .categories .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  padding: 5px 8px;
  /*
                            &:hover .category-drop{
                                display: block;
                                z-index: 1;
                                
                                .row{
                                    display: flex;
                                   .col-6{
                                    .category-drop-item{
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;
                                        cursor: pointer;
                                    }
                                    .col-6{
                                        display: flex;
                                        .cards{
                                            margin: 25px auto;
                                            display: grid;
                                            grid-template-columns: auto auto auto;
                                            .card{
                                                margin: 25px 6px;
                                                padding: 10px 5px;
                                                border: none;
                                                text-align: center;
                                                position: relative;
                                                .card-body{
                                                    h6{
                                                        font-size: 20px;
                                                        span{
                                                            color: #777;
                                                            font-size: 16px;
                                                        }
                                                    }
                                                    p{
                                                        color: #0b44ff;
                                                        cursor: pointer;
                                                        font-size: 18px;
                                                    }
                                                }
                                                .icon{
                                                    width: 30px;
                                                    height: 30px;
                                                    border-radius: 50%;
                                                    border: 1px solid #ccc;
                                                    display: flex;
                                                    align-items: center;
                                                    justify-content: center;
                                                    color: #07c320;
                                                    box-shadow: 3px 3px 5px #dfdfdf;
                                                    position: absolute;
                                                    top: 0;
                                                    left: 75%;
                                                }
                                                &:hover{
                                                    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
                                                    border-radius: 10px;
                                                }
                                                &:hover .icon{
                                                    background: #00a13c;
                                                    color: #fff;
                                                }
                                            }
                                        }
                                    }
                                   }
                                }
                            }
                            */
}

section .section1 .container .row .col-3 .categories .category img {
  width: 23px;
  height: 23px;
}

section .section1 .container .row .col-3 .categories .category .category-drop {
  display: none;
}

section .section1 .container .row .col-3 .categories .category p {
  margin: 0;
}

section .section1 .container .row .col-3 .categories .category:hover {
  background-color: #07c320;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

section .section1 .container .row .col-6 .carousel-indicators button {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

section .section1 .container .row .col-3 {
  padding: 15px;
}

section .section1 .container .row .col-3 .right-card .container-card img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 240px;
}

section .section1 .container .row .col-3 .right-card .container-card .narx {
  font-size: 25px;
  color: #07c320;
}

section .section1 .container .row .col-3 .right-card .container-card .narx span {
  color: #c0c0c0;
  font-size: 15px;
}

section .section2 .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
}

section .section2 .container .carusel {
  width: 178px;
  height: 100px;
  margin: 0 25px 25px 25px;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .section2 .container .carusel img {
  max-width: 90%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section .section-name .container {
  margin: 15px auto;
}

section .section-name .container h4 {
  color: #777;
  margin-right: 15px;
}

section .section-name .container button {
  border: none;
  background: #dbfbe7d7;
  color: #00a13c;
  border-radius: 10px;
}

section .section-name .container button:hover {
  border: 1px solid #00a13c;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

section .section3 .container .cards {
  margin: 25px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto auto;
}

section .section3 .container .cards .card {
  margin: 25px 6px;
  padding: 10px 5px;
  border: none;
  text-align: center;
  position: relative;
}

section .section3 .container .cards .card .card-body h6 {
  font-size: 20px;
}

section .section3 .container .cards .card .card-body h6 span {
  color: #777;
  font-size: 16px;
}

section .section3 .container .cards .card .card-body p {
  color: #0b44ff;
  cursor: pointer;
  font-size: 18px;
}

section .section3 .container .cards .card .icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #07c320;
  -webkit-box-shadow: 3px 3px 5px #dfdfdf;
          box-shadow: 3px 3px 5px #dfdfdf;
  position: absolute;
  top: 0;
  left: 75%;
}

section .section3 .container .cards .card:hover {
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

section .section3 .container .cards .card:hover .icon {
  background: #00a13c;
  color: #fff;
}

section .section-footer .container {
  margin: 25px auto;
}

section .section-footer .container .btn2 {
  border: none;
  background: #00a13c;
  color: #ffffff;
  padding: 7px 15px;
  border-radius: 10px;
}

section .section-footer .container .btn2 i {
  font-size: 12px;
}

footer {
  background-color: #f9f9fa;
  padding: 45px 0;
}

footer .container .row .col-6 .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 45px;
}

footer .container .row .col-6 .nav ul li {
  padding-right: 10px;
  cursor: pointer;
  font-size: 15px;
  color: #868686;
}

footer .container .row .col-6 .nav p {
  color: #868686;
  font-size: 14px;
}

footer .container .row .col-6 .nav p span {
  color: #07c320;
}

footer .container .row .col-6 .nav p span:hover {
  cursor: pointer;
  color: #777;
}

footer .container .row .col-6 {
  padding-left: 45px;
}

footer .container .row .col-6 .row .col-6 img {
  width: 200px;
  height: 252px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container .row .col-6 .row .col-6 p {
  color: #5c6c79;
}

footer .container .row .col-6 .row .col-6 a img {
  width: 220px;
  height: 65px;
  margin: 10px 0;
  padding: 0;
}

@media screen and (max-width: 380px) {
  header nav {
    background: #07e407;
  }
  header nav .container {
    width: 300px;
    margin: 15px auto;
  }
  header nav .container .fa_fa-shopping-cart {
    display: block;
    margin: 0 50px;
    width: 50px;
    height: 50px;
  }
  header nav .container .navbar-brand {
    display: none;
  }
  header .h-footer {
    display: none;
  }
  header .h-footer .container {
    width: 300px;
    margin: 0 auto;
  }
  section .section1 .container {
    width: 300px;
    margin: 0 auto;
  }
  section .section1 .container .section1-top {
    display: none;
  }
  section .section1 .container .row .col-12 {
    display: block;
  }
  section .section1 .container .row .col-3 {
    display: none;
  }
  section .section1 .container .row .col-6 {
    display: none;
  }
  section .section2 {
    margin: 15px auto;
  }
  section .section2 .container {
    width: 300px;
    margin: 0 auto;
    padding: 0;
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  section .section2 .container .carusel {
    width: 140px;
    height: 100px;
    margin: 3px 3px;
  }
  section .section3 .container {
    width: 350px;
    margin: 0 auto;
    padding: 0;
  }
  section .section3 .container .cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  section .section3 .container .cards .card {
    margin: 0 3px;
  }
  section .section3 .container .cards .card .card-body p {
    font-size: 12px;
  }
  section .section3 .container .cards .card .card-body h6 {
    font-size: 10px;
  }
  section .section-name .container button {
    width: 57px;
    height: 32px;
  }
  footer {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */